@media only screen and (max-width:1024px) {
    .main-section .left-inenr {
        padding: 0 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unido-inner h3{
        text-align: center;
    }

    .find-us{
        margin-bottom: 60px;
        text-align: center;
    }

    form{
        .btn{
            width: 100%;
        }
    }

    .about-line,
    .second-line,
    .main-info {
        text-align: center;
    }

    .about-line {
        padding-bottom: 20px;
    }

    .stat-box {
        margin-bottom: 50px;
    }

    .social-links {
        margin-bottom: 0;
    }
    
    .vision-mission{
        padding: 0;
    }

    .abt-divora-ent > div{
        margin-bottom: 50px;
        padding: 0 15px;
    }

    .abt-divora-ent{
        h3,p{
            padding: 0;
        }
    }

    .davora-ent{
        padding: 100px 0 0 0;
    }

    .about-services-inner > div{
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar .nav-item.active .nav-link, .navbar .nav-item:hover .nav-link{
        background: $green;
        color: $white;
    }

    .navbar-nav.ml-auto.mobile{
        text-align: center;
    }

    .dropdown-menu.show{
        text-align: center;
    }

    footer .f-nav-links li{
        width: 100%;
        text-align: center;
    }

    footer .f-nav-links li a{
        font-size: 12px;
    }

    .address:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background: url(../images/location.png);
        background-repeat: no-repeat;
        background-size: contain;
        /* left: 0px; */
        top: -24px;
        left: 50%;
        margin-left: -10px;
    }

    .phone:before{
        top: -24px;
        left: 50%;
        margin-left: -10px;
    }

    .email:before{
        top: -24px;
        left: 50%;
        margin-left: -15px;
    }

    .address, .phone, .email{
        padding-left: 0;
        text-align: center;
        margin-bottom: 48px;
    }

    footer .f-nav-links{
        margin-bottom: 48px;
    }

    .info-header{
        justify-content: space-between;
        padding: 0;
    }

    .info-header a{
        margin-bottom: 0;
        padding: 0;
    }


    // service ccss -----------------------------------------------------------

    .services-hero{
        height: 50vh;
    
        .main-section{
            padding-bottom: 30px;
        }
    }
    
    .page-banner{
        img{
            width: auto;
            height: 100%;
            min-height: 100%;
        }
    
        
    }
    
    .banner-info{
        padding: 16px !important;

        .service-icon{
            width: 80px;

            img{
                width: 100%;
            }
        }
    
        h1{
            font-size: 32px;
            padding: 20px 0 10px;
        }

        h3{
            font-size: 20px;
        }
    
        p{
            font-size: 14px;
        }
    }

    .para-right-pad{
        padding-right: 15px;
    }

    .para-left-pad{
        padding-left: 15px;
    }
    
    .about-service{
        background: $service-color-1;
        padding: 40px 0;
    
        h3{
            font-weight: 600;
            margin-bottom: 30px;
            margin-top: 20px;
            font-size: 24px;
        }
    
        .special-para{
            color: $white;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.7;
        }
    
        .btn{
            background: $white;
            color: $service-color-1;
        }
    
        
    
        
    }
    
    .about-service-img{
        width: 100%;
        min-height: auto;
        padding: 30px 0;
    }

    
    .service-projects{
        padding: 30px 0 20px;

        .para-right-pad{
            padding-right: 0px;
        }
    
        .para-left-pad{
            padding-left: 0px;
        }
    
        h2{
            font-size: 24px;
            padding: 30px 0 10px;
            span{
                color: $service-color-1;
            }
        }
    
        p{
            line-height: 2;
        }
    }

    .about-services{
        .card-img{
            height: 200px;
        }

        .card-body{
            padding: 20px 0;
        }
    }
    
    .about-services-projects{
        padding: 0;
        .projects{
            .card-img{
                height: 160px;
            }
        }
    
        .projects-slider .centered{
            padding: 0 0 20px 0;
    
            p{
                padding: 0 16px;
                font-size: 12px;
            }
    
            h4{
                padding: 10px;
                font-size: 20px;
            }
        }
    
    
    }
    
    .how-we-do{
        margin-top: 80px;
        padding: 60px 0 0px;
        background: #F5F5F5;

        h3{
            font-size: 24px;
        }

        p{
            font-size: 12px;
        }

        .about-service-img{
            padding: 0;
        }
    }
    
    .comments{
        padding: 60px 0;

        .comment-wrap{
            width: 60%;
        }
    
        h3{
            font-size: 24px;
        }
    
        h6{
            font-size: 12px;
            line-height: 1.8;
            font-weight: 300;
        }
    
        .comment-by{
            font-size: 16px;
        }
    
        .slick-next{
            right: -75px;
        }
    
        .slick-prev{
            left: -75px;
        }
    

    }
    
    .blog-posts-external{
        padding: 50px 0 30px;
    
        h3{
            margin-bottom: 20px;
            font-size: 24px;
            span{
                color: $service-color-1;
            }
        }
    
        .about-services-inner{
            padding: 20px 0 20px;
        }
    }
    
    .service-1{
        .service-name{
            color: $service-color-1;
        }
    
        .btn{
            background: $service-color-1;
        }
    }
    
    .service-2{
        .service-name{
            color: $service-color-2;
        }
    
        .btn{
            background: $service-color-2;
        }
    }
    
    .service-3{
        .service-name{
            color: $service-color-3;
        }
    
        .btn{
            background: $service-color-3;
        }
    }

    // blog -----------------

    .story-of{
        font-size: 24px;
        padding: 30px 0 0 0;
    }
    
    .service-tag{
        width: 100%;
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .service-dec{
        font-size: 10px;
        font-weight: 600;
    }

    .read-stories{
        padding: 30px 0;
        h1{  
            font-weight: 500;
            font-size: 24px;
        }
    }
    
    .line-right{
        border-right: none;
        padding-right: 0px;
    }
    
    .side-layout{
        flex-direction: column;
        padding-top: 0px;
    
        .card-img{
            width: 100%;
            height: 220px;
            overflow: hidden;
    
            img{
                height: 100%;
                width: 100%;
            }
        }
    
        .card-body{
            padding-left: 0px;
            padding-top: 0;
            margin-bottom: 40px;
        }
    }
    
    .blog-posts{
        .card-img{
            height: 260px;
            overflow: hidden;
    
            img{
                height: 100%;
            }
        }

        .card-body{
            margin-bottom: 40px;
        }
    }
    
}